---
- name: Deploy YOLO Application
  hosts: all
  gather_facts: false
  become: true
  vars:
    client_image: pkiposmet/yolo-client-server:1.1.0
    backend_image: pkiposmet/yolo-backend-server:1.0.0
    app_folder: /opt/yolo

  tasks:
    - name: Update the cache
      apt:
        update_cache: yes
        upgrade: yes

    - name: Clone the repository
      git:
        repo: https://github.com/Barchok-Kiposmet/yolo.git
        dest: /opt/yolo

    - name: Install npm
      apt:
        name: npm
        state: present

    - name: Install Docker dependencies
      apt:
        name:
          - "apt-transport-https"
          - "ca-certificates"
          - "curl"
          - "software-properties-common"
        state: present

    - name: Add Docker GPG key
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: Add Docker repository
      apt_repository:
        repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu bionic stable
        state: present

    - name: Install Docker
      apt:
        name: docker-ce
        state: present

    - name: Start Docker service
      service:
        name: docker
        state: started

    - name: Build and start Docker containers
      command: docker-compose up -d
      args:
        chdir: /opt/yolo
